.header{
	height:50px;
	background-color: #577492;
}

.header h2{
	margin:5px;
	color:white;
}
.content{
	top:50px;
	height:auto;
	position: absolute;
	background-color: white;
}

@media screen and (max-height:650px){
	.content{
		bottom:0px;
		overflow-y:scroll;
	}
}

html{
	background-color: #F0F5ED;
	width:100%;
	overflow-x: hidden;
	overflow-y:scroll;
}
.right{
	position:absolute;
	right:20px;
	top:10px;
	display:inline;
	width:15% !Important;
}
.frame{
	width:100%;
}
.feed-title{
	color:#577492;
	padding:10px;
}

.feed-content{
	padding:10px;
}

.item{
	width:320px;
	border:solid black 1px;
}

.masonry {
  max-width: 640px;
}
.masonry .item {
  width:  60px;
  height: 60px;
  float: left;
  }
  .search{
  	width:15%;
  	position:absolute;
  	top:10px;
  	right:20px;
  }